<div class="item ">
    <div class="hero-wrap js-fullheight"
         style="background-image: url(<%= movie.image%>);"
         data-stellar-background-ratio="0.5">

        <div class="overlay"></div>

        <div class="container">
            >
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
                 data-scrollax-parent="true">

                <div class="col-md-9 text text-center ftco-animate"
                     data-scrollax=" properties: { translateY: '70%' }">

                    <div style="position:absolute; margin-left:60px; margin-top:0px"
                    <abbr title="Trailer" style="font-size:18px; color:;"> <a href="booking3"
                                                                              class="icon-video  d-flex align-items-center justify-content-center mb-4">


                             <span
                                     class="fa fa-ticket"></span>

                        </a></abbr>
                    <center>
                        <a href="booking3"><h2 style="color:white; font-size:40px; font-family:Baskerville;">
                                Book Now</h2></a></center>
                </div>
                <div style="position:absolute; margin-left:300px; margin-top:0px"
                <abbr title="Trailer" style="font-size:18px; color:;"> <a
                            href=<%= movie.trailer%>
                            class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">


                  		<span
                                class="ion-ios-play"></span>

                    </a></abbr>
                <center>
                    <h2 style="color:white; font-size:40px; font-family:Baskerville;">Official Trailer</h2>
                </center>
                <p class="caps" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>

                <h1 data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></h1>

            </div>

        </div>
    </div>
</div>
</div>
</div>